body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3498db;
    padding: 10px 0;
    text-align: center;
}

.logo-link {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #2980b9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #1a69a4;
}


.profile-link, .login-button, .signup-button, .logout-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-link:hover, .login-button:hover, .signup-button:hover, .logout-button:hover {
    background-color: #1a69a4;
}